[submodule "vendor/ADS1115_WE"]
	path = vendor/ADS1115_WE
	url = https://github.com/wollewald/ADS1115_WE.git
[submodule "vendor/BME280"]
	path = vendor/BME280
	url = https://github.com/finitespace/BME280.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/esp8266"]
	path = vendor/esp8266
	url = https://github.com/esp8266/Arduino.git
[submodule "vendor/makeEspArduino"]
	path = vendor/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
[submodule "vendor/NTPClient"]
	path = vendor/NTPClient
	url = https://github.com/arduino-libraries/NTPClient.git
[submodule "vendor/SimpleDHT"]
	path = vendor/SimpleDHT
	url = https://github.com/winlinvip/SimpleDHT.git
